<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "girnebelediyesi"
        versionCode = "10"
        version     = "1.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Girne Belediyesi Mobil Uyg</name>

    <description>
        Bu uygulama Girne Belediyesi tarafından geliştirilip belediyemizin resmi cep telefonu uygulamasıdır.
    </description>

    <author href="http://www.girnebelediyesi.com" email="info@girnebelediyesi.com">
        Mehmet IZBUL, Can KARA

    </author>

    <icon src="images/Logo_last.png" width="57" height="57" />

</widget>