<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "girnebelediyesi"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Girne Belediyesi Mobile Application</name>

    <description>
        An example for phonegap build docs. 
    </description>

    <author href="http://www.girnebelediyesi.com" email="info@girnebelediyesi.com">
        Mehmet IZBUL, Can KARA

    </author>

</widget>