<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "girnebelediyesi"
        versionCode = "14"
        version     = "1.0.4" >

    <!-- versionCode is optional and Android only -->

    <name>Girne Belediyesi</name>

    <description>
        Bu uygulama Girne Belediyesi tarafından geliştirilip belediyemizin resmi cep telefonu uygulamasıdır.
    </description>

    <author href="http://www.girnebelediyesi.com" email="info@girnebelediyesi.com">
        Mehmet IZBUL, Can KARA

    </author>

    <icon src="images/Logo_57.png" gap:platform="ios" width="57" height="57" />
    <icon src="images/Logo_72.png" gap:platform="ios" width="72" height="72" />

    <icon src="images/drawable-ldpi/Logo_72.png" gap:platform="android" gap:density="ldpi" />
    <icon src="images/drawable-mdpi/Logo_72.png" gap:platform="android" gap:density="mdpi" />
    <icon src="images/drawable-hdpi/Logo_72.png" gap:platform="android" gap:density="hdpi" />
    <icon src="images/drawable-xhdpi/Logo_72.png" gap:platform="android" gap:density="xhdpi" />

</widget>
